<template>
    <div>
        <input type='' placeholder='Something...' class="todo-task" v-on:keyup.enter='doneEditing()' @blur="doneEditing()" @focus='startEditing()' v-model='task.title'>
        <a href="#!" class="secondary-content">
            <template v-if='task.completed'>
                <i @click='toggleCompleted()' class="material-icons" title='Undo'>undo</i>
            </template>
            <template v-else>
                <i @click='toggleCompleted()' class="material-icons" title='Done'>check</i>
            </template>
            <i @click='$emit("delete", task)' class="material-icons red-text">clear</i>
        </a>
    </div>
</template>
<script type="text/javascript">
export default {
    props: ['task'],
    data() {
        return {
            old_title: this.task.title
        };
    },
    mounted() {
        M.AutoInit();
    },
    methods: {
        toggleCompleted() {
            let copy = { ...this.task };
            copy.completed = !copy.completed;

            this.$emit('change', copy);
        },
        startEditing() {
            // Save old title to prevent sending useless requests
            this.old_title = this.task.title;
        },
        doneEditing() {
            if (this.old_title === this.task.title) return;

            this.$emit('change', this.task);
            this.old_title = this.task.title;
        }
    }
}

</script>
