<template>
    <div>
        <div v-if='!loading'>
            <Todo :todo='todo' :lists='lists' :tasks='tasks' @toggle_task_completed='toggle_task_completed($event)' @create_task='create_task($event)' @new_list='create_list($event)' @task_updated='update_task($event)' @task_deleted='prompt_delete_task($event)' />
        </div>
        <div v-else>
            Loading...
        </div>
        <div ref='deleteTaskModal' class="modal">
            <div class="modal-content">
                <h4>Delete task?</h4>
                <p>
                    You won't be able to revert this!
                </p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat red lighten-1" @click='confirm_delete_task()'>Delete</a>
            </div>
        </div>
    </div>
</template>
<script type="text/javascript">
import { normalize, schema } from 'normalizr';

// Define our schemas
const task = new schema.Entity('tasks');

const todo_list = new schema.Entity('lists', {
    tasks: [task]
});

const todo = new schema.Entity('todos', {
    lists: [todo_list]
});

export default {
    props: ['id'],
    data() {
        return {
            selected_task_for_deletion: null,
            loading: true,
            lists: null,
            tasks: null,
            todo: null,
        }
    },
    created() {
        axios.get('/api/todo/' + this.id).then(response => {
            const normalizedData = normalize(response.data.data, todo);

            this.lists = normalizedData.entities.lists;

            if (normalizedData.entities.tasks == undefined) {
                this.tasks = {};
            } else {
                this.tasks = normalizedData.entities.tasks;
            }

            this.todo = normalizedData.entities.todos[normalizedData.result];

            this.loading = false;
        }).catch(this.handleHTTPErrors);
    },
    mounted() {
        M.AutoInit();
    },
    methods: {
        // toggle_task_completed(task) {
        //     this.tasks[task.id].completed = !this.tasks[task.id].completed;
        // },
        create_list(name) {
            axios.post(`/todo/${this.id}/lists`, { name }).then(response => {
                response.data.data.tasks = [];
                Vue.set(this.lists, response.data.data.id, response.data.data);

                this.todo.lists.push(response.data.data.id);
            }).catch(this.handleHTTPErrors);
        },
        prompt_delete_task(task) {
            this.selected_task_for_deletion = task.id;

            M.Modal.getInstance(this.$refs["deleteTaskModal"]).open();
        },
        confirm_delete_task() {
            if (this.selected_task_for_deletion === null) return;
            let task = this.tasks[this.selected_task_for_deletion];

            axios.delete(`/api/tasks/${this.selected_task_for_deletion}`).then(response => {
                this.toast("Successfully deleted that task.");

                Vue.delete(this.tasks, this.selected_task_for_deletion);
                Vue.delete(this.lists[task.todo_list_id].tasks, this.lists[task.todo_list_id].tasks.indexOf(this.selected_task_for_deletion));

                this.selected_task_for_deletion = null;
            }).catch(this.handleHTTPErrors);
        },
        create_task(list_id) {
            axios.post(`/todo/${this.id}/lists/${list_id}/tasks`, { title: "" }).then(response => {
                Vue.set(this.tasks, response.data.data.id, response.data.data);

                this.lists[list_id].tasks.push(response.data.data.id);

                this.toast("Successfully created task.");
            }).catch(error => {
                alert("Something wrong happened while creating that task, it will not be saved.");
                this.handleHTTPErrors(error);
            });
        },
        update_task(task) {
            axios.patch(`/api/tasks/${task.id}`, task).then(response => {
                Vue.set(this.tasks, response.data.data.id, response.data.data);

                // this.toast("Successfully updated task.");
            }).catch(this.handleHTTPErrors);
        },
        handleHTTPErrors(error) {
            console.error(error);
            alert("Something wrong happened");
        },
        toast(message) {
            M.toast({ html: message, classes: 'teal' });
        }
    }
}

</script>
