.base-color {
    background-color: $base-color !important;
}

.base-color-text {
    color: $base-color !important;
}

.secondary-color {
    background-color: $secondary-color !important;
}

.secondary-color-text {
    color: $secondary-color !important;
}

#navbar li.sidenav-item-input {
    left: 0;
    right: 0;
    margin-top: 1px;
    padding: 1px 0 0 0;
    z-index: 2;

    .sidenav-item-input-wrapper {
        i.material-icons {
            position: absolute;
            margin-top: -45px;
            right: 13px;
            cursor: pointer;
        }

        input[type=text] {
            color: #777;
            display: block;
            font-size: 16px;
            font-weight: 300;
            width: 100%;
            height: 62px;
            margin: 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 0 45px 0 30px;
            border: 0;
        }
    }
}

header,
main,
footer {
    padding-left: 300px;
}

.sidenav-trigger {
    display: none;
}

@media only screen and (max-width: 992px) {
    .sidenav-trigger {
        display: block;
        padding: 15px;
        color: black;
    }

    header,
    main,
    footer {
        padding-left: 0;
    }
}

@media only screen and (min-width: 600px) {
    #toast-container {
        top: unset;
        bottom: 5%;
    }
}
