<template>
    <div>
        <header>
            <ul id="navbar" class="sidenav sidenav-fixed">
                <li class="sidenav-item-input">
                    <div class="sidenav-item-input-wrapper">
                        <input placeholder="Search" v-model='search' type="text"><i class="material-icons">search</i>
                    </div>
                </li>
                <li v-for='(list, index) in filtered_lists' :class='{"grey lighten-2": current_selected_list != null && list.id == current_selected_list}'>
                    <a :href="'#' + list.id" @click='switchToList(list.id)'>
                        {{ list.name }}
                    </a>
                </li>
                <li class='grey lighten-4' v-if='!creating_list'>
                    <a class='center-align' href="#" @click='createList()'>
                        <span>
                            <i style='vertical-align: middle;' class="material-icons">add</i>
                            <span>New List</span>
                        </span>
                    </a>
                </li>
                <li class='sidenav-item-input grey lighten-5' v-if='creating_list'>
                    <div class='sidenav-item-input-wrapper'>
                        <input type="text" style='padding-left:5px;margin-bottom: 0px;' placeholder='List name here...' v-model='new_list_name' v-on:keyup.enter='submitNewList()'><i @click='submitNewList()' class="material-icons">check</i>
                    </div>
                </li>
            </ul>
            <a href="#" data-target="navbar" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </header>
        <main>
            <div class="container" v-if='current_selected_list != null'>
                <div class="row" v-on:keyup.enter='/*createTask()*/'>
                    <div class="col l6 m6 s12">
                        <ul class="collection with-header teal">
                            <li class="collection-header">
                                <span>To Do</span>
                                <div class='collection-actions'>
                                    <!-- <i class='material-icons'>clear_all</i> -->
                                    <i class='material-icons' @click='createTask()'>add</i>
                                </div>
                            </li>
                            <li class='collection-item' v-if='uncompleted_tasks.length == 0'>
                                <center>
                                    No tasks to show here
                                </center>
                            </li>
                            <li class="collection-item" v-for='task in uncompleted_tasks' :key='task.id'>
                                <todo-item @toggle_completed='toggleCompleted(task)' @change='updateTask($event)' @delete='deleteTask($event)' :task='task'></todo-item>
                            </li>
                        </ul>
                    </div>
                    <div class="col l6 m6 s12">
                        <ul class="collection with-header teal">
                            <li class="collection-header">
                                <span>Done</span>
                            </li>
                            <li class='collection-item' v-if='completed_tasks.length == 0'>
                                <center>
                                    No tasks to show here
                                </center>
                            </li>
                            <li class="collection-item" v-for='task in completed_tasks' :key='task.id'>
                                <todo-item @toggle_completed='toggleCompleted(task)' @change='updateTask($event)' @delete='deleteTask($event)' :task='task'></todo-item>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div v-else-if='todo.lists.length == 0'>
                Create a new List
            </div>
            <div v-else>
                Select a list
            </div>
        </main>
    </div>
</template>
<script type="text/javascript">
export default {
    props: ['lists', 'tasks', 'todo'],
    mounted() {
        M.AutoInit();
    },
    data() {
        return {
            search: "",
            current_selected_list: this.todo.lists.length > 0 ? this.lists[this.todo.lists[0]].id : null,
            creating_list: false,
            new_list_name: ""
        }
    },
    created() {
        if (location.hash && location.hash != "#" && this.todo.lists.indexOf(location.hash.substr(1)) != -1) {
            this.current_selected_list = location.hash.substr(1);
        }
    },
    methods: {
        submitNewList() {
            if (this.new_list_name.trim() == "") return;

            this.$emit('new_list', this.new_list_name);
            this.new_list_name = "";
            this.creating_list = false;
        },
        createList() {
            this.creating_list = true;
        },
        createTask() {
            this.$emit('create_task', this.current_selected_list);
        },
        deleteTask(task) {
            this.$emit('task_deleted', task)
        },
        updateTask(new_task) {
            this.$emit('task_updated', new_task);
        },
        switchToList(list_id) {
            this.current_selected_list = this.lists[list_id].id;
        }
    },
    computed: {
        filtered_lists: function() {
            if (this.search.trim() == "") return Object.values(this.lists);

            return Object.values(this.lists).filter(list => {
                return list.name.toLowerCase().includes(this.search.toLowerCase());
            });
        },
        c_tasks: function() {
            return Object.values(this.tasks).filter((task) => {
                return this.lists[this.current_selected_list].tasks.indexOf(task.id) != -1;
            });
        },
        uncompleted_tasks: function() {
            return this.c_tasks.filter((task) => {
                return !task.completed;
            })
        },
        completed_tasks: function() {
            return this.c_tasks.filter((task) => {
                return task.completed;
            })
        }
    }
}

</script>
<style>
.todo-task {
    resize: none !important;
    width: 80% !important;
    height: unset !important;
    outline: none;
    border: 1px solid transparent;
}

.todo-task:focus {
    outline: none;
}

.todo-task:hover {
    border: 1px solid #ccc;
}

.collection-header span {
    font-size: 25px;
}

.collection-header .collection-actions {
    float: right;
}

.collection-header .collection-actions i {
    line-height: unset;
    cursor: pointer;
}

.secondary-content {
    position: absolute;
    right: 5px;
}

</style>
